BODY{
	font-family: Georgia, 'Times New Roman', Times, serif;
	background: #FFF8E5;
}
.base{
	margin-left: 20px;	
}
[name="calendar"]{
	text-align: bottom;
	font-size: 16px;
	padding: 5px;
	border: 1px inset #FFB53F;
	background: #fcfcfc;
	border-radius: 3px;
}

[name="skill"]{
	text-align: bottom;
	font-size: 16px;
	padding: 5px;
	border: 1px inset #FFB53F;
	background: #fcfcfc;
	border-radius: 3px;
}

[name="select"]{
	background: #FFB53F;
}

[type="button"]{
	text-align: bottom;
	font-size: 16px;
	padding: 5px;
	border-radius: 3px;
}
[name="salary"]{
	text-align: bottom;
	font-size: 16px;
	padding: 5px;
	border: 1px inset #FFB53F;
	background: #fcfcfc;
	border-radius: 3px;
}

TABLE{
	border: 1px double #FFB53F;
	border-spacing: 2px 2px;
}

TH {
	background: #FBFEF9;
}

TR{
	background: #FBFEF9;
}
SPAN{
	font-size: 18px;
}

SELECT{
	text-align: bottom;
	font-size: 16px;
	padding: 5px;
	border: 1px inset #FFB53F;
	background: #fcfcfc;
	border-radius: 3px;
}